<div class="footer">
  <div class="footer-links">
    <a href="#"> Github <i class="fab fa-github"></i></a>
    <a href="#"> Instagram <i class="fab fa-instagram"></i></a>
    <a href="#"> Facebook <i class="fab fa-facebook"></i></a>
    <a href="#"> Twitter <i class="fab fa-twitter"></i></a>
    <a href="#"> Linkedin <i class="fab fa-linkedin"></i></a>
  </div>
</div>
