<div class="banner">
  <div class="container">
    <h1>Rent-Animal brings <strong>a great experience </strong> to <strong>nature lover people</strong>!</h1>
    <p>Change your life and make a good decision, choose them.</p>
    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-flat" %>
  </div>
</div>
<div class="container d-flex justify-content-between mt-5">
  <div class="top-card">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="top-card-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="top-card-pricing"> €</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="top-card-user avatar-bordered" />
    </div>
  </div>

  <div class="top-card">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="top-card-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="top-card-pricing"> €</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="top-card-user avatar-bordered" />
    </div>
  </div>

  <div class="top-card">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="top-card-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
     </div>
      <h2 class="top-card-pricing"> €</h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="top-card-user avatar-bordered" />
    </div>
  </div>
</div>
